<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Perfil</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body> 
	<div class="container" th:if="${Color}">
	    <div class="page-header">
	        <h1>Tabla de color 1<span class="pull-right label label-default">:)</span></h1>
	    </div>
	    <div class="row">
	    	<div class="col-md-6">
	            <div class="panel with-nav-tabs panel-default">
	                <div class="panel-heading">
	                        <ul class="nav nav-tabs">
	                            <li class="active"><a href="#tab1default" data-toggle="tab">Default 1</a></li>
	                            <li><a href="#tab2default" data-toggle="tab">Default 2</a></li>
	                            <li><a href="#tab3default" data-toggle="tab">Default 3</a></li>
	                            <li class="dropdown">
	                                <a href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
	                                <ul class="dropdown-menu" role="menu">
	                                    <li><a href="#tab4default" data-toggle="tab">Default 4</a></li>
	                                    <li><a href="#tab5default" data-toggle="tab">Default 5</a></li>
	                                </ul>
	                            </li>
	                        </ul>
	                </div>
	                <div class="panel-body">
	                    <div class="tab-content">
	                        <div class="tab-pane fade in active" id="tab1default">Default 1</div>
	                        <div class="tab-pane fade" id="tab2default">Default 2</div>
	                        <div class="tab-pane fade" id="tab3default">Default 3</div>
	                        <div class="tab-pane fade" id="tab4default">Default 4</div>
	                        <div class="tab-pane fade" id="tab5default">Default 5</div>
	                    </div>
	                </div>
	            </div>
	     	</div>
			</div>
			</div>
			<div class="container" th:unless="${Color}">
				<div class="page-header">
					        <h1>Tabla de color 2<span class="pull-right label label-default">:)</span></h1>
					    </div>
			<div class="col-md-6">
			            <div class="panel with-nav-tabs panel-info">
			                <div class="panel-heading">
			                        <ul class="nav nav-tabs">
			                            <li class="active"><a href="#tab1info" data-toggle="tab">Info 1</a></li>
			                            <li><a href="#tab2info" data-toggle="tab">Info 2</a></li>
			                            <li><a href="#tab3info" data-toggle="tab">Info 3</a></li>
			                            <li class="dropdown">
			                                <a href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
			                                <ul class="dropdown-menu" role="menu">
			                                    <li><a href="#tab4info" data-toggle="tab">Info 4</a></li>
			                                    <li><a href="#tab5info" data-toggle="tab">Info 5</a></li>
			                                </ul>
			                            </li>
			                        </ul>
			                </div>
			                <div class="panel-body">
			                    <div class="tab-content">
			                        <div class="tab-pane fade in active" id="tab1info">Info 1</div>
			                        <div class="tab-pane fade" id="tab2info">Info 2</div>
			                        <div class="tab-pane fade" id="tab3info">Info 3</div>
			                        <div class="tab-pane fade" id="tab4info">Info 4</div>
			                        <div class="tab-pane fade" id="tab5info">Info 5</div>
			                    </div>
			                </div>
			            </div>
			        </div>
					</div>
</body>
</html>
